body {
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
button {
    font-size: 22px;
    font-style: italic;
    width: auto;
    height: 50px;
    text-align: center;
    justify-content: center;
}
#result {
    font-size: 23px;
    font-weight: 800;
}